prowizja/target/
prowizja/.classpath
prowizja/.project
prowizja/.settings/
polisa/target/
polisa/.classpath
polisa/.project
polisa/.settings/
polisa/polisa-dao/target/
polisa/polisa-dao/.classpath
polisa/polisa-dao/.project
polisa/polisa-dao/.settings/
polisa/polisa-domain/target/
polisa/polisa-domain/.classpath
polisa/polisa-domain/.project
polisa/polisa-domain/.settings/
polisa/polisa-services/target/
polisa/polisa-services/.classpath
polisa/polisa-services/.project
polisa/polisa-services/.settings/
helloWorld/bin